<!--Footer Section Start Here -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="footer-logo">
                    <a href="index.html" title="Welcome to Memphis Technology Foundation"><img src="/{{ theme_path('img/mtf-logo.png') }}" alt="Welcome to Memphis Technology Foundation"></a>
                </div>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                </p>
                <address>
                    <span> <i class="fa fa-home"></i> <span>A-2, Sector-63, Noida, 201301, India</span> </span>
                    <span> <i class="fa fa-phone-square"></i> <span>+1 707 921 7269</span> </span>
                    <span> <i class="fa fa-envelope"></i> <span><a href="mailto:contact@charity.com">contact@charity.com</a></span> </span>
                </address>

            </div>
            <div class="col-xs-12 col-sm-4 twitter-update">
                <h6>Twitter Feed</h6>
                <p>
                    <a href="#"> <span class="charity">@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
                </p>
                <p>
                    <a href="#"> <span class="charity">@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h6>Newsletter Signup</h6>
                <p>
                    Variations of passages of Lorem Ipsum available, but the majokgrity
                </p>
                <form role="form" class="sign-up">

                    <div class="input-group">
                        <input class="form-control" type="email" placeholder="Email">
                        <div class="input-group-addon">
                            <input type="submit" class="btn btn-theme" value="Submit">
                        </div>
                    </div>

                </form>

                <h6>Follow us</h6>
                <ul class="social-icons">
                    <li>
                        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://dribble.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li>
                        <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                        <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
								<span> &copy; Copyright 2014, All Rights Reserved by Charity Theme.
									</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer Section End Here -->