<!--Footer Section Start Here -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="footer-logo">
                    <a href="/" title="Welcome to Memphis Technology Foundation"><img src="/{{ theme_path('img/mtf-logo.png') }}" alt="Welcome to Memphis Technology Foundation"></a>
                </div>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                </p>
                <address>
                    <span> <i class="fa fa-home"></i> <span>2804 Bartlett Rd, Ste 2. Memphis, TN  38134</span> </span>
                    {#<span> <i class="fa fa-phone-square"></i> <span>+1 707 921 7269</span> </span>#}
                    <span> <i class="fa fa-envelope"></i> <span><a href="mailto:info@memphistechnology.org">info@memphistechnology.org</a></span> </span>
                </address>

            </div>
            <div class="col-xs-12 col-sm-4 twitter-update">
                <h6>Twitter Feed</h6>
                <p>
                    <a href="#"> <span class="charity">@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
                </p>
                <p>
                    <a href="#"> <span class="charity">@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h6>Newsletter Signup</h6>
                <p>
                    Stay in touch by joining our newsletter. We send out periodic updates about the #memtech community and related events.
                </p>
                <form role="form" action="//memphistechnology.us8.list-manage.com/subscribe/post?u=6a4f9e7430dc14839cf98a1b2&amp;id=b1e4d87812" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                    <div class="input-group">
                        <input name="EMAIL" id="mce-FNAME" class="form-control" type="email" placeholder="Email">
                        <div class="input-group-addon">
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_6a4f9e7430dc14839cf98a1b2_b1e4d87812" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </div>

                </form>

                <h6>Follow us</h6>
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/MemphisTechnology" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/communities/111617696126688058262" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/memtech" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                        <span> &copy; Copyright 2015, All Rights Reserved by Memphis Technology Foundation.
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer Section End Here -->