<!--Header Section Start Here -->
<header id="header">
    <div class="container">
        <div class="row primary-header">
            <a href="index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Memphis Technology Foundation"><img src="/{{ theme_path('img/mtf-logo.png') }}" alt="Memphis Technology Foundation"></a>
            <div class="social-links col-xs-12 col-sm-10">
                <a href="volunteer.html" class="btn btn-default btn-volunteer">Become volunteer</a>
                <ul class="social-icons hidden-xs">
                    <li>
                        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="javascript:;"  data-toggle="dropdown"  class="submenu-icon">
                                Home
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                            {#<div  class="dropdown-menu">#}
                                {#<ul>#}
                                    {#<li>#}
                                        {#<a href="index.html">Index-1</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="index2.html">Index-2</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="index3.html">Index-3</a>#}
                                    {#</li>#}

                                {#</ul>#}
                            {#</div>#}
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="dropdown" class="submenu-icon">
                                blog
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                            <!-- end  -->

                        </li>
                        <li>
                            <a href="javascript:;"  data-toggle="dropdown"  class="submenu-icon">
                                about
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                            <!-- Drop Down  -->

                            <div  class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a href="/about/board">Board</a>
                                    </li>
                                    <li>
                                        <a href="/about/bylaws">Bylaws</a>
                                    </li>
                                    <li>
                                        <a href="/about/faqs">FAQs</a>
                                    </li>
                                    <li>
                                        <a href="/about/meetings">Meetings</a>
                                    </li>
                                    <li>
                                        <a href="/about/sponsors">Sponsors</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Store <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
                            <div  class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a href="shop-listing.html">Shop Listing</a>
                                    </li>
                                    <li>
                                        <a href="shop-detail.html">Shop Detail</a>
                                    </li>
                                    <li>
                                        <a href="shoping-cart.html">Shoping Cart</a>
                                    </li>

                                    <li>
                                        <a href="checkout.html">Checkout</a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Gallery <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
                            <!-- Drop Down  -->
                            <div  class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a href="portfolio.html">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-detail.html">Portfolio Detail</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/contact">contact us</a>
                        </li>

                    </ul>
                </nav>

                {#<form class="navbar-form navbar-right search-form" role="search">#}
                    {#<div class="form-group">#}
                        {#<input type="text" class="form-control" placeholder="Search Here">#}
                    {#</div>#}
                    {#<button type="submit">#}
                        {#<i class="icon-search"></i>#}
                    {#</button>#}
                {#</form>#}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

</header>
<!-- Header Section End Here -->