{% extends "default" %}

{% block content_wrapper %}
    <h1>Board of Directors</h1>
    <div class="media">
        <div class="media-left pull-left">
            <img class="media-object" src="http://placehold.it/150x150" alt="Joe Ferguson">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Joe Ferguson</h4>
            <div class="caption">
                <p>Chairman and President</p>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left pull-left">
            <img class="media-object" src="http://placehold.it/150x150" alt="Bryan Robinson">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Bryan Robinson</h4>
            <div class="caption">
                <p>Secretary</p>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left pull-left">
            <img class="media-object" src="http://placehold.it/150x150" alt="Brad Montgomery">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Brad Montgomery</h4>
            <div class="caption">
                <p>Board Member</p>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left pull-left">
            <img class="media-object" src="http://placehold.it/150x150" alt="Claudio Donndelinger">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Claudio Donndelinger</h4>
            <div class="caption">
                <p>Board Member</p>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left pull-left">
            <img class="media-object" src="http://placehold.it/150x150" alt="Sean Lissner">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Sean Lissner</h4>
            <div class="caption">
                <p>Board Member</p>
            </div>
        </div>
    </div>
{% endblock %}