h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

.sponsors-sidebar>ul>li a
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.mainContent, footer.container {
    max-width: 900px;
}

footer.container {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px dashed #aaa;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}

.feed {
    margin-left: 3px;
    padding: 0 0 0 19px;
    background: url("/components/img/feed-icon-14x14.png") no-repeat 0 50%;
}