<!DOCTYPE html>
<html>
    <head>
        {% include theme_path('partials/head.html') %}
    </head>
    <body>

        <div id="wrapper">
            {% include theme_path('partials/header.html') %}
            <!-- Site Content -->
            <div id="main">
                <section class="meetings">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-header section-header clearfix">
                                    <h1>Official MTF Meetings</h1>
                                </div>
                                <div class="page_group">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--Content End Here -->
            {% include theme_path('partials/footer.html') %}

        </div>
        {% include theme_path('partials/scripts.html') %}
    </body>
</html>