---
layout: default
title: Memphis Technology Foundation Advisory Board Members

---
<section class="board">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h1>Advisory Board Members</h1>
                    <p>
                        In March 2017 MTF created an advisory board to help spread the workload around to interested parties
                        and on board new community contributors without the formality of "Board Member" status within the
                        organization. Originally starting out with two members the advisory board has grown to six and
                        will continue to grow as needed to serve the Memphis Technology Community.
                    </p>
                </div>
                <div class="page_group col-xs-offset-4">
                    <div class="media">
                        <div class="media-left pull-left">
                            <img class="media-object" src="//placehold.it/150x150" alt="Bryce Sharp">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Bryce Sharp</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pull-left">
                            <img class="media-object" src="//placehold.it/150x150" alt="Daniel Soskel">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Daniel Soskel</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pull-left">
                            <img class="media-object" src="//placehold.it/150x150" alt="Jeff Leath">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Jeff Leath</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pull-left">
                            <img class="media-object" src="//placehold.it/150x150" alt="John Hall">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">John Hall</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pull-left">
                            <img class="media-object" src="//placehold.it/150x150" alt="Lance Hilliard">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Lance Hilliard</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pull-left">
                            <img class="media-object" src="//placehold.it/150x150" alt="Mike Cochran">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Mike Cochran</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>