---
layout: default
title: Memphis Technology Foundation Board Members

---
{% block main %}
    <!-- Breadcrumb Section Start Here -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Board Members</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">
                            Board Members
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End Here -->

    <div class="content-wrapper" id="page-info">
        <!-- Gallery sections Start Here -->
        <section class="we-help gallery-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--Gallery Section Start Here-->
                        <div class="row gallery">
                            <div class="cols-xs-12 col-sm-4">
                                <div class="thumbnail">
                                    <img src="/{{ theme_path('img/board/joe.png') }}" alt="">
                                    <h3 class="h3">Joe Ferguson</h3>
                                    <p>Chairman and President</p>
                                </div>
                            </div>
                            <div class="cols-xs-12 col-sm-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200" alt="Bryan Robinson"></a>
                                    <h3 class="h3">
                                        <a href="portfolio-detail.html">Bryan Robinson</a>
                                    </h3>
                                    <p>Secretary</p>
                                </div>
                            </div>
                            <div class="cols-xs-12 col-sm-4">
                                <div class="thumbnail">
                                    <img src="//gravatar.com/avatar/cdff46071b29718c7ed0d01b8fca510d?s=200" alt="Brad Montgomery"></a>
                                    <h3 class="h3">Brad Montgomery</h3>
                                    <p>Board member</p>
                                </div>
                            </div>
                        </div>
                        <div class="row gallery">
                            <div class="cols-xs-12 col-sm-4">
                                <div class="thumbnail">
                                    <img src="/{{ theme_path('img/board/claudio.jpg') }}" alt="Claudio Donndelinger"></a>
                                    <h3 class="h3">Claudio Donndelinger</h3>
                                    <p>Board member</p>
                                </div>
                            </div>
                            <div class="cols-xs-12 col-sm-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200" alt="Sean Lissner">
                                    <h3 class="h3">Sean Lissner</h3>
                                    <p>Board member</p>
                                </div>
                            </div>
                        </div>
                        <!--Gallery Section End Here-->
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}