---
layout: default
title: Memphis Technology Foundation FAQs

---
<section class="faqs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h1>Frequently Asked Questions</h1>
                </div>
                <div class="page_group">
                    <h2>Q: What is MTF?</h2>
                    <p>
                        Memphis Technology Foundation. An organization founded by #memtech community leaders to facilitate technology events in Memphis
                    </p>

                    <h2>Q: What is #memtech?</h2>
                    <p>
                        A community of technology minded people who gather to discuss, share, and learn about technology in Memphis, TN
                    </p>
                                        
                    <h2>Q: What is the difference between MTF and #memtech?</h2>
                    <p>
                        When referring to the community at large, you are referring to #memtech. MTF exists to facilitate the needs of the #memtech 
                        community in an official capacity.
                        
                        When a user group would like to do something that would otherwise require them to form their own legal organization, MTF exists 
                        to help them do those things.
                    </p>
                    <h2>Q: Who runs / operates / is Memphis Technology Foundation?</h2>
                    <p>
                        #memtech community leaders. You can view our <a href="/about/board" target="_blank">board members</a>.
                    </p>
                    
                    <h2 id="nonprofit">Q: Are you a non-profit?</h2>
                    <p>
                        Yes, Memphis Technology Foundation is a 501(c)(3) non profit organization.
                    </p>
                    
                    <h2>Q: Are donations to Memphis Technology Foundation tax deductible?</h2>
                    <p>
                        Yes, please contact <a href="mailto:board@memphistechnology.org" target="_blank">board@memphistechnology.org</a> for more information.
                    </p>
                    
                    <h2>Q: Do you post board meeting notes?</h2>
                    <p>
                        Yes, check out our <a href="/about/meetings" target="_blank">meeting notes</a>
                    </p>
                    
                    <h2>Q: Are board meetings open to the public?</h2>
                    <p>
                        Yes, unless we have a specific need to have a closed board meeting. So far we have always had open board meetings,
                        watch our <a href="https://twitter.com/memtech" target="_blank">twitter</a> for notifications.
                    </p>
                    
                    <h2>Q: How can I contribute to MTF?</h2>
                    <p>
                        What would you like to contribute? <a href="mailto:board@memphistechnology.org" target="_blank">Drop us an email</a>
                        or <a href="https://groups.google.com/forum/#!forum/memphis-technology" target="_blank">join our discussion list</a>.

                        We are an open organization and would love to hear your feedback on what we are doing right, and what we could do better.                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>