---
layout: default
title: Official MTF Meetings

---
<section class="meetings">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h1>Official MTF Meetings</h1>
                </div>
                <div class="page_group">
                    <p>
                        The board of Memphis Technology Foundation holds board meetings that are open to the public unless otherwise determined by the board.
                    </p>
                    <p>
                        Notes for past meetings can be found below.
                    </p>
                    <p>
                        Agendas for meetings that had formal planned agendas can also be found below.
                    </p>
                    <p>
                        Future meetings have agendas tracked as issues on a <a href="https://github.com/memtech/memphistechnology.org/projects/1">GitHub project board</a>. Proposed agenda items must have a presenter present at the meeting.
                    </p>
                    <p>
                        In Chronological order:
                        <ul>
                            <li>
                                <a href="/meetings/mtf-first-thoughts" target="_blank">
                                    MTF First Thoughts
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/goals" target="_blank">
                                    MTF Potential Goals Discussion Notes
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/4-16-14-meeting-notes" target="_blank">
                                    April 16th 2014 Meeting Agenda
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/12-16-14-agenda" target="_blank">
                                    December 16th 2014 MTF Board Agenda
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/12-16-14-meeting-notes" target="_blank">
                                    December 16th 2014 MTF Board Meeting Notes
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/4-21-15-agenda" target="_blank">
                                    April 21st 2015 Meeting Agenda
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/03-03-2017-board-meeting" target="_blank">
                                    March 3rd 2017 MTF Board Meeting
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/12-10-2017-board-meeting" target="_blank">
                                    December 10th 2017 MTF Board Meeting
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/06-22-2018-board-meeting" target="_blank">
                                    June 22nd 2018 MTF Board Meeting
                                </a>
                            </li>
                            <li>
                                <a href="/meetings/03-16-20-board-meeting" target="_blank">
                                    March 16th 2020 MTF Board Meeting
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
