---
layout: default
title: Sponsors

---
<section class="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h1>Sponsors</h1>
                </div>
                <div class="page_group">
                    <h3>Memphis Technology Foundation is proud to be sponsored by the following:</h3>
                    <div class="col-lg-4">
                      <h2>
                          <a href="http://www.HACKmemphis.com" target="_blank">
                              <img src="/components/img/hack-memphis-top.png" alt="HACKmemphis">
                          </a>
                      </h2>
                      <p>HACKmemphis brings together local tech communities to develop hardware and software projects in Memphis through weekend long Hackathon events.</p>
                    </div>
                    
                    <div class="col-lg-4">
                      <h2>
                          <a href="http://www.memphis.edu/fedex" target="_blank">
                              <img src="/components/img/fit-logo.png" alt="FIT">
                          </a>
                      </h2>
                      <p>The FedEx Institute of Technology is an advanced research institution dedicated to connecting and building up the Memphis tech community.</p>
                    </div>
                    
                    <div class="col-lg-4">
                      <h2>
                          <a href="http://www.MidsouthMakers.org" target="_blank">
                              <img src="/components/img/midsouthmakers-logo.png" alt="MidsouthMakers">
                          </a>
                      </h2>
                      <p>Memphis area makerspace featuring diverse interests of technology, science, art, and crafting.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>