---
layout: default
title: Do Something
---
<section class="donations">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h1>Start Something</h1>
                </div>
                <div class="page_group">
                    <p>
                        Looking to start a new meetup, or get assistance with one? <a href="/blog/2015/05/19/join-memtech-on-discord-chat/">Join us in Discord</a> and join the #meetups and #mtf-contrib channels.
                    </p>
                    <p>
                        Looking to work with us on something more involved? Ask in the #mtf-contrib Discord channel, or <a href="mailto:info@memphistechnology.org">email us</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
