---
layout: default
title: Volunteer

---
<section class="donations">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h1>Volunteer</h1>
                </div>
                <div class="page_group">
                    <h2>Want to start a user group, or help an existing one?</h2>
                    <p>
                        <a href="/blog/2015/05/19/join-memtech-on-slack-chat/">Join us in slack</a> and join the #meetups and #mtf-contrib channels.
                    </p>
                </div>
                <div class="page_group">
                    <h2>Just want to do Good Things™ with tech?</h2>
                    <p>
                        Volunteer for <a href="http://www.givecampmemphis.org/">GiveCamp Memphis</a>
                    </p>
                </div>
                <div class="page_group">
                    <h2>Want to contribute to MTF itself?</h2>
                    <p>
                        Info coming soon™. For now <a href="/blog/2015/05/19/join-memtech-on-slack-chat/">join us in slack</a> and join the #mtf-contrib channel.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
