---
layout: default
title: About

---
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h2>Memphis Technology Foundation is a group of people with a diverse interest in technology
                        looking to raise the tech tide in Memphis, TN.</h2>
                    <h3>For more information, view our <a href="/about/faqs">Frequently Asked Questions</a>.</h3>
                </div>
                <div class="page-group">
                    <h3>What is Memphis Technology Foundation?</h3>
                    <p>
                        Memphis Technology Foundation is a group of people in Memphis with a diverse interest in Technology. 
                        We are user group leaders and participants interested in learning and growing our community.
                    </p>
                    <p>
                        For more information, view our <a href="/about/faqs">Frequently Asked Questions</a>.
                    </p>
                    
                    <h3>Purpose</h3>
                    <p>
                        The organization is organized exclusively for charitable, educational, 
                        and scientific purposes under Section 501(c)(3) of the Internal Revenue Code,
                        or corresponding Section of any future federal tax code.
                    </p>
                    <p>
                        You can view our governing <a href="/about/meetings">Bylaws</a>, notes from previous 
                        <a href="/about/meetings">meetings</a>, and our <a href="/about/board">board members</a>.
                    </p>
                    
                    <h3>Contact</h3>
                    <p>
                        For more information contact <a href="mailto:info@memphistechnology.org">info@memphistechnology.org</a>.
                    </p>
                    
                    <h3>Mailing Address</h3>
                    <p>
                        Memphis Technology Foundation<br />
                        2804 Bartlett Road<br />
                        Suite 3<br />
                        Memphis, TN,  38134<br />
                    </p>
                    
                    <h3>Social Media</h3>
                    <p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/memtech" target="_blank">Memphis Technology on Twitter</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/MemphisTechnology" target="_blank">Memphis Technology on Facebook</a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/1/communities/111617696126688058262" target="_blank">Memphis Technology on Google+</a>
                            </li>
                        </ul>
                    </p>

                    <h3>Copyright</h3>
                    <p>
                        Memphis Technology Foundation maintains copyright over its own Intellectual Property of its logos, icons, and other official depictions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
