---
layout: default
title: Donate

---
<section class="donations">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header section-header clearfix">
          <h1>Feedback</h1>
        </div>
        <div class="page_group">
          <p>
          Hi there! If you're into technology in Memphis and you want to help MTF help the community, you've probably got energy and ideas! While we prefer to see your ideas presented with a working solution, there can be unexamined needs and issues worth raising with us. Feel free to <a href="mailto:info@memphistechnology.org">privately email the board</a> where appropriate.
          </p>
          <p>
          If you have a broader issue that might benefit from being shared and worked on publicly, try submitting a new issue on this site's <a href="https://github.com/memtech/memphistechnology.org/issues">GitHub Issues page.

            <div style="margin-top: 5%; border: 1px black solid; width: fit-content;">
              <img src="/images/give-a-present.png" alt="Screenshot of an example GitHub issue" /></a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
