---
layout: default
title: "User Groups"

---
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h1>Memphis Technology User Groups</h1>
                </div>
                <div class="page_group">

                    <p class="lead">
                        Many local tech user groups schedule events on Meetup.com.
                        If you don't see what you're looking for below, head over to the
                        <a href="http://www.meetup.com/memphis-technology-user-groups/" target="_blank">
                        Memphis Tehnology User Groups</a>.
                    </p>
                    <div class="row gallery">
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                    {#<img src="assets/img/img-slide-05.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://www.midsouthmakers.org" target="_blank">
                                        Midsouth Makers - Local Hacker/Makerspace
                                    </a>
                                </h3>
                                <p>
                                    Open House Every Friday 7pm-9pm <a href="http://twitter.com/MidsouthMakers" target="_blank">@MidsouthMakers</a>
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                    {#<img src="assets/img/img-slide-01.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://www.meetup.com/MemphisGameDev" target="_blank">
                                        Memphis Game Developers
                                    </a>
                                </h3>
                                <p>
                                    Meets First Saturday of Each Month at 2pm <a href="http://twitter.com/MemphisGameDev" target="_blank">@MemphisGameDev</a>
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                    {#<img src="assets/img/img-slide-04.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://www.meetup.com/WordPress-Memphis" target="_blank">
                                        WordPress Memphis
                                    </a>
                                </h3>
                                <p>
                                    Meets on the first Thursday of every month at 6:00 pm
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row gallery">
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-05.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://www.memphiswebworkers.com" target="_blank">
                                        Memphis Web Workers User Group
                                    </a>
                                </h3>
                                <p>
                                    Meets on the second Tuesday of every month at 6:00 pm <a href="http://twitter.com/MemphisWW" target="_blank">@MemphisWW</a>
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-01.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://memphisruby.org" target="_blank">
                                        Memphis Ruby User Group
                                    </a>
                                </h3>
                                <p>
                                    Meets on the second Thursday of every month at 6:00 pm <a href="http://twitter.com/MemphisRuby" target="_blank">@MemphisRuby</a>
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-04.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://www.mempy.org" target="_blank">
                                        Memphis Python User Group
                                    </a>
                                </h3>
                                <p>
                                    Meets on the third Monday of every month at 6:30 pm <a href="http://twitter.com/MemphisPython" target="_blank">@MemphisPython</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row gallery">
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-05.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://memphisphp.org" target="_blank">
                                        Memphis PHP User Group
                                    </a>
                                </h3>
                                <p>
                                    Meets on the fourth Tuesday of every month at 6:30 pm <a href="http://twitter.com/memphisphp" target="_blank">@MemphisPHP</a>
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-01.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://mnug.net" target="_blank">
                                        Memphis .Net User Group
                                    </a>
                                </h3>
                                <p>
                                    Meets on the fourth Thursday of every month at 6:00 pm
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-04.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://www.memapg.com" target="_blank">
                                        Memphis Agile Practitioners Group
                                    </a>
                                </h3>
                                <p>
                                    Meets monthly + Monthly lunch event <a href="http://twitter.com/MemphisAgile" target="_blank">@MemphisAgile</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row gallery">
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-01.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://mem-pass.org" target="_blank">
                                        Memphis PASS Chapter
                                    </a>
                                </h3>
                                <p>
                                    Meets monthly
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-04.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://www.meetup.com/Meteor-Memphis" target="_blank">
                                        Meteor Memphis
                                    </a>
                                </h3>
                                <p>
                                    Meets monthly
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-05.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="http://www.pmimemphis.org" target="_blank">
                                        Project Management Institute – Memphis Chapter
                                    </a>
                                </h3>
                                <p>

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row gallery">
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-01.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="https://www.meetup.com/MemDevOps" target="_blank">
                                        MemDevOps
                                    </a>
                                </h3>
                                <p>
                                    Meets monthly
                                </p>
                            </div>
                        </div>
                        <div class="cols-xs-12 col-sm-4">
                            <div class="thumbnail">
                                {#<a class="img-thumb" href="portfolio-detail.html">#}
                                {#<img src="assets/img/img-slide-04.jpg" alt="">#}
                                {#</a>#}
                                <h3 class="h3">
                                    <a href="https://www.meetup.com/Memphis-Area-AWS-Users" target="_blank">
                                        Memphis Area AWS Users
                                    </a>
                                </h3>
                                <p>
                                    Meets monthly
                                </p>
                            </div>
                        </div>
                    </div>

                    <h3>Inactive or Unknown Status:</h3>
                    <ul>
                        <li>
                            <a href="http://www.memphisjug.org" target="_blank">Mid-South/Memphis Java User Group</a>
                        </li>
                        <li>
                            <a href="http://www.golum.org" target="_blank">GOLUM (Linux)</a> – <a href="https://groups.google.com/forum/#!forum/golum-group" target="_blank">Mailing list</a> somewhat active
                        </li>
                        <li>
                            <a href="http://memphis.issa.org" target="_blank">Memphis Information Systems Security Association(ISSA)</a> – <a href="http://twitter.com/Memphis_ISSA" target="_blank">@Memphis_ISSA</a>
                        </li>
                        <li>
                            <a href="https://www.owasp.org/index.php/Memphis" target="_blank">Memphis OWASP</a>
                        </li>
                        <li>
                            <a href="http://sharepoint.memphissharepointgroup.com" target="_blank">Memphis Sharepoint User Group</a>
                        </li>
                        <li>
                            <a href="http://memhug.com" target="_blank">Memphis Hardware User Group</a>
                        </li>
                        <li>
                            <a href="http://www.meetup.com/Memphis-MongoDB-User-Group/" target="_blank">Memphis MongoDB User Group</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
